<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">
                <h1>
                    About
                </h1>
                <p>
                    Certified Full Stack Developer Having 1.8 months of experience in developing robust code and scalable big city promotion applications. Passionate about Web Development Technologies.I like exploring latest technologies and System design
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 profile-image">
            <img src="..\assets\PicsArt_07-25-11.34.22.jpg" alt="profile.jpg">
        </div>
        <div class="col-lg-8 col-md-6 col-12 abouttext">
            <h3>
                Full Stack Developer
            </h3>
            <p>
                Preeti Reddy , My Personal Information  
            </p>
            <div class="personalInfo">
                <ul class="right">
                    <li>
                        <strong>Birthday :</strong> 8 June 1999
                    </li>
                    <li>
                        <strong>Mobile No :</strong> 6362256854
                    </li>
                    <li>
                        <strong>Alternate No:</strong> 9483706943
                    </li>
                    <li>
                        <strong>City:</strong> Bangalore,Karanatak
                    </li>
                </ul>

                <ul class="left">
                    <li>
                        <strong>Age:</strong> 24
                    </li>
                    <li>
                        <strong>Degree:</strong> BE
                    </li>
                    <li>
                        <strong>Email:</strong> preetireddy153@gmail.com
                    </li>
                    <li>
                        <strong>Git Hub: </strong>  <a href="https://github.com/Preeti330" style="text-transform: lowercase;" >Preeti330</a>
                    </li>
                    <li>
                        <strong>Linked In : </strong>  <a href="https://www.linkedin.com/in/preeti-reddy-079b84200/" class="socialmidea" style="text-transform: lowercase;">Preeti Reddy</a>
                    </li>
                </ul>
            </div>
<!-- 
            <p>
                Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci
                omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate ut
                dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid
                amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium
                dolores.

            </p> -->

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">

                <h1>
                    Skills
                </h1>
                <!-- <p>
                    "Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                    quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit
                    suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas."
                </p> -->
                <!-- <p>
                    the bellow mentioned skills ,  i have earned to improve my techinical skills  and system design
                </p> -->

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="skillname">
                <span>PHP
                    <i class="val"> 100%</i>
                </span>
                <div class="progress">

                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="skillname">
                <span>YII2 FrameWork
                    <i class="val"> 90%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>

            <div class="skillname">
                <span>Javascript
                    <i class="val"> 75%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="skillname">
                <span>Angular
                    <i class="val"> 75%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            
            <div class="skillname">
                <span>PGSQL
                    <i class="val"> 90%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="skillname">
                <span>HTML & CSS
                    <i class="val"> 100%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="skillname">
                <span>Core Java
                    <i class="val"> 100%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skillname">
                <span>JDBC
                    <i class="val"> 100%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="skillname">
                <span>Servlets & JSP
                    <i class="val"> 70%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="skillname">
                <span>Mysql
                    <i class="val"> 90%</i>
                </span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">
                <h1>
                    Facts
                </h1>
                <div class="textsection text-center">
                    <p>
                        <!-- "Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                        quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit
                        suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas." -->
                        "My Work delivery and Time Investment for my work to acchive the target as well as to reach responibilites i have taken towards the copmany"
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-3 col-md-6 col-6">
            <div class="factsText">
                <span style="color:#34b7a7;;font-family:Open sans-serif;font-size: 52px;font-weight: 500;">
                    2
                </span>
                <h5>
                    Companies
                </h5>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
            <div class="factsText">
                <span style="color:#34b7a7;;font-family:Open sans-serif;font-size: 52px;font-weight: 500;">
                    7
                </span>
                <h5>Projects</h5>

            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
            <div class="factsText">
                <span style="color:#34b7a7;;font-family:Open sans-serif;font-size: 52px;font-weight: 500;">
                    1463 +
                </span>
                <h5>Hours Of Support</h5>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
            <div class="factsText">
                <span style="color:#34b7a7;;font-family:Open sans-serif;font-size: 52px;font-weight: 500;">
                    100 +
                </span>
                <h5>Hard Work</h5>
            </div>
        </div>
    </div>

</div>