<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">
                <h1>
                    Contact
                </h1>
                <!-- <p>
                    Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.
                    Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
                    alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                </p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="map">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d62210.9343930406!2d77.56034044626686!3d12.960113409449924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d12.9618699!2d77.60171079999999!4m5!1s0x3bae15d143cffd8f%3A0x399a8505bee14c41!2sNanjappa%20Circle%2C%20Langford%20Gardens%2C%20Bengaluru%2C%20Karnataka%20560025!3m2!1d12.960033!2d77.6015405!5e0!3m2!1sen!2sin!4v1690253737119!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="height: 270px;width: 100%" frameborder="0" ></iframe>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="conctactDetails">
                <div class="address">
                    <div class="contcatIcon">
                        <i class="fa-sharp fa-solid fa-location-pin"></i>
                        
                    </div>
                    <h4>
                        Location:
                    </h4>
                    <p>
                        Najjappa Circle,Shanti Nagar
                    </p>
                </div>

                <div class="address">
                    <div class="contcatIcon">
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    </div>
                    <h4>
                        Email:
                    </h4>
                    <p>
                        preetireddy153@gmail.com
                    </p>
                </div>

                <div class="address">
                    <div class="contcatIcon">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    </div>
                    <h4>
                        call:
                    </h4>
                    <p>
                        6362256854
                    </p>
                </div>

            </div>
        </div>
        <div class="col-lg-8 col-lg-8 col-12">

              <div class="userDetails">

                  <div class="getDetails inputFeild">
                   <input type="text" placeholder="Enter Your Name" >
                   <input type="text" placeholder="Your Email">
                  </div>

                  <div class="getDetails">
                   
                   <input type="text" placeholder="Subject">
                  </div>
                  <div class="getDetails message">
                   
                   <input type="text" placeholder="Message">
                  </div>
              </div>

              

        </div>
     </div>

     <div class="row">
        <div class="col-12">
            <div class="sendmsg">
                <a href="home" class="aboutbtn">Send Message</a>

            </div>
        </div>
     </div>
</div>