<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">
                <h1>
                    Projects
                </h1>
                <p>
                    I have innvolved in various kind projects and explored many new topics in each projects and also worked for basics testing as i have mentioned bellow
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard">
                <div class="serviceIcon divblue">
                    <i class="fa-solid fa-bottle-droplet blue"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        Cock And Meals
                    </h4>
                    <p>
                    This Project is based on providing various coke and meals available restaurants to clients to increase the sales based on geo location. And providing various offers to clients.  
                    </p>
                    <ul class="resumeList">
                        <li>
                            Worked as per the client requirements to develop app apis and admin panel .
                        </li>
                        <li>
                            Worked on CDP Integration  and database management.
                        </li>
                        <li>
                        worked on communication matrix. 
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard">
                <div class="serviceIcon divorange">
                    <i class="fa-solid fa-wine-bottle orange" aria-hidden="true"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        Heineken Sales And Loyalty 
                    </h4>
                    <p>
                        This Is Loyalty Program , Here It Increase sales on base of loyalty functions.
                    </p>
                    <ul class="resumeList">
                        <li>
                            Have created app to promote business from JTSE .
                        </li>
                        <li>
                            Worked On Schedulers . (for ranking users for monthly, weekly and also to get top rankers on base of hierarchy)
                        </li>
                        <li>
                            Worked On Excel Report Generation And Upload . 
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard">
                <div class="serviceIcon divhotpink">
                    <i class="fa-regular fa-hourglass-half hotpink"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        StashFin
                    </h4>
                    <p>
                        This program devloped to provied rewards to customer, 
                        and customer will earn voucher code to redeedem various offers
                    </p>
                    <ul class="resumeList">
                        <li>
                            Developed third party apis with customer and company authnication 
                        </li>
                        <li>
                            developed reward panel apis to process redemption.
                        </li>
                        <li>
                            and worked on  report and authonication panel to validate data
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    
    </div>


    <div class="row servicerow">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard lastcard">
                <div class="serviceIcon divorange">
                    <i class="fa-solid fa-wine-bottle orange" aria-hidden="true"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        Heineken Sales And Loyalty Admin Panel.
                    </h4>
                    <p>
                        
                    </p>
                    <ul class="resumeList">
                        <li>
                            UI development using Angular,Bootstarp.
                        </li>
                        <li>
                            Worked On UI for admin panel and report admin.
                        </li>
                        <li>
                            Extensive experience in Integrating Rest API
                        </li>
                        <!-- <li>
                            Deal with excel and some other files upload , and retrieve data and display etc..
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard lastcard">
                <div class="serviceIcon divlightred">
                    <i class="fa-solid fa-gamepad lightred" aria-hidden="true"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        Game API 
                    </h4>
                    <p>
                        Game apis are developed to promote sales .
                    </p>
                    <ul class="resumeList">
                        <li>
                            Validation for game reference token.
                        </li>
                        <li>
                            Apis to register for game ,to start game , and updating player scores .
                        </li>
                        <li>
                            And allocating vouchers based on winners as requirements.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="serviceCard lastcard">
                <div class="serviceIcon divskyblue">
                    <i class="fa fa-university skyblue" aria-hidden="true"></i>
                </div>
                <div class="serviceText">
                    <h4>
                        Self Interest 
                    </h4>
                    <p>
                        Have build porject as well as immplemented a some basic concept to make work easier.
                    </p>
                    <p>
                        <strong>Git Hub: </strong>  <a href="https://github.com/Preeti330" style="text-transform: lowercase;" >Preeti330</a>
                    </p>
                </div>
            </div>
        </div>
    
    </div>

</div>