.container-fluid{
    padding: 7vh 7vw;
}

.protfiloList{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    margin: 0 0 2% 0;
}

.protfoiloImage{
    overflow: hidden;
    opacity: 1;
    text-align: center;
    /* background-color: rgba(34, 34, 34, 0.6); */
}

.protfoiloImage img{
   
    height: 300px;
    object-fit: cover;
    object-position: center;
    max-width:500px;
}
.protfoiloText{
    position: absolute;
    left: 6%;
    opacity: 0;
    bottom: 7%;
}

.protfoiloText h4{
    font-size: 20px;
    font-weight: 600;
} 

.protfoiloText p{
    font-size: 14px;
    font-family: italic;
    margin-bottom: -1px;
}

.overly{
    /* background-color: #44444496;
    opacity: 0.4;   */
    position: relative;
    background-color: #aea9a9;   
    
}

/* .overly:hover div,.protfoiloImage:hover > .protfoiloText{
    display: block;
    position: relative;
} */

.overly:hover .protfoiloImage{
    opacity: 0.3;
}

.overly:hover .protfoiloText{
    opacity: 1;

}

.protfoiloText a{
    padding-left: 3%;
    color: white;
    font-size: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #34b7a7;
}


.nav-pills .nav-link
{
    border-radius:  15px;
    width: 50px;
    height: 33px;
    padding: 0 0 0 0;
}

.protfiloList button
{
    color: #444444;
}

.nav-link:focus, .nav-link:hover
{
    color: #444444;
}

.protfiloall
{    
    row-gap: 20px;
}
