<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sectionTitle">
                <h1>
                    Resume
                </h1>
                <p>
                    Innovative and deadline-driven  Developer with 1.10 years of experience in designing
                    and developing Rest API and UI Desigins as per requriments. 
                </p>
            </div>
        </div>
    </div>
    <div class="row resumerow">
        <div class="col-lg-6 col-md-6 col-12">

            <h3 class="resumeHeader">
                Education & Certifications
            </h3>
            <div class="resumeItem">
                <h4 class="resumeSubHeader">
                    Bachelor of Engineering
                </h4>
                <h6 ></h6>
                <p>
                    <em>
                        I graduated from KLS Gogte Institute of Technology.
                    </em>
                </p>
                <ul class="resumeList">
                    <li>
                        Specialization in CSE,2020
                    </li>
                    <!-- <li>
                        (123) 456-7891
                    </li>
                    <li>
                        alice.barkley@example.com
                    </li> -->

                </ul>

                <h4 class="resumeSubHeader">
                    Palle Institue Of Technology
                </h4>
                <p>
                    <em>Completed Java Development Crouse</em>
                </p>

            </div>


            <h3 class="resumeHeader">
                Work Experience
            </h3>
            <div class="resumeItem">
                <h4 class="resumeSubHeader">
                    Worked at Datagridz Pvt. Ltd.
                </h4>
                <h6></h6>
                <p>
                    <em>Worked as intern for frontend developer role.
                  </em>
                </p>

                <h5 class="resumehighlightbox">
                    June,2021 - March,2022 
                </h5>
                <ul class="resumeList">
                    <li>
                        8 months of experience in the area of software development design, coding in  web application.
                    </li>
                    <li>
                        Extensive experience with Web Technologies (HTML,CSS, Visual Studio).
                    </li>
                    <li>
                        Hands on experience on client side scripting (JavaScript).
                    </li>
                    <li>
                        Understanding the requirement from the Team Lead.
                    </li>
                    <li>
                        Designing the layout, UI while achieving Customer/User Friendliness.
                    </li>
                    <li>
                        Involved in data base table designing.
                    </li>
                    <li>
                        About Editing And Updating the CSS files And Updating The Content.
                    </li>

                </ul>
               
            </div>

            <!-- <div class="resumeItem">
               

            </div> -->


        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <h3 class="resumeHeader">
                Work Experience
            </h3>
            <div class="resumeItem">
                <h4 class="resumeSubHeader">
                   Worked at Big City Promotions.
                </h4>
                <h6></h6>
                <p>
                    <em>
                        worked as Associative Software Engineer 
                    </em>
                </p>
                <h5 class="inlineheader resumehighlightbox">
                    2022 - Present
                </h5>
               
                <!-- <p>
                    <em>
                        Back End Development 
                    </em>
                </p> -->
                <h4 class="resumeSubHeader">
                    Back End Development .
                 </h4>

                <ul class="resumeList">
                    <li>
                        Extensive experience in building Rest API ( Php,Yii Framework, MySQL,PGSQL)
                    </li>
                    <li>
                        Worked As Per The Client Requirements To Develop App Apis.
                    </li>
                    <li>
                        And Also worked on building Admin Panel(report admin, hub admin ) Apis To deal with excel and to maintain data.
                    </li>
                    <li>
                        Worked For Developing third party apis and autonicated company and users to access Reward Panels.
                    </li>
                    <li>
                        Written Schedulers for ranking and winner alloctaion.
                    </li>
                    <li>
                        Unit Testing and Latency Testing .
                    </li>

                </ul>



                

                
                <h4 class="resumeSubHeader">
                    Front End innovolment
                </h4>
                <!-- <h5 class="resumehighlightbox">
                    2017 - 2018
                </h5> -->
                <!-- <p>
                    <em>
                        
                    </em>
                </p> -->

                <ul class="resumeList">
                    <li>
                        UI development using Angular,Bootstarp.
                    </li>
                    <li>
                        Worked On UI for admin panel and report admin.
                    </li>
                    <li>
                        Extensive experience in Integrating Rest API
                    </li>
                    <li>
                        Deal with excel and some other files upload , and retrieve data and display etc.
                    </li>

                </ul>
            </div>

        </div>
    </div>

</div>